<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parseCsvDao" class="ru.otus.dao.ParserCsvDao">
    </bean>

    <bean id="parserCsvService" class="ru.otus.service.ParserCsvServiceImpl">
        <constructor-arg name="dao" ref="parseCsvDao">
        </constructor-arg>
        <constructor-arg name="filePath" value="lesson1/src/main/resources/questions.csv">
        </constructor-arg>
    </bean>

    <bean id="studentTestingService" class="ru.otus.service.StudentTestingServiceImpl">
        <constructor-arg name="csvParser" ref="parserCsvService">
        </constructor-arg>
    </bean>

</beans>